<div class="content">
        <form action="/api/newevent" method="post" class="pure-form pure-form-stacked">
            <fieldset>
                <div class="pure-g">
                    <div class="l-box-lrg pure-u-1 pure-u-md-1-3">
                        <label for="title">Event Title</label>
                        <input id="title" type="text" placeholder="Title">
                    </div>

                    <div class="l-box-lrg pure-u-1 pure-u-md-1-3">
                        <label for="address">Event Address</label>
                        <input id="address" type="text" placeholder="Address">
                    </div>

                    <div class="l-box-lrg pure-u-1 pure-u-md-1-3">
                        <label for="eventDate">Date Event</label>
                        <input id="eventDate" type="text" placeholder="eventDate">
                    </div>

                    <div class="l-box-lrg pure-u-1 pure-u-md-1-3">
                        <label for="time">Event Time</label>
                        <input id="time" type="text" placeholder="Time">
                    </div>

                    <div class="l-box-lrg pure-u-1 pure-u-md-1-3">
                        <label for="seats">Seats Available</label>
                        <input id="seats" type="text" placeholder="Number of Seats">
                    </div>

                    <div class="l-box-lrg pure-u-1 pure-u-md-1-3">
                        <label for="duration">Event Duration</label>
                        <input id="duration" type="text" placeholder="Duration">
                    </div>

                    <div class="l-box-lrg pure-u-1 pure-u-md-1-3">
                        <label for="effort">Effort Level</label>
                        <input id="effort" type="text" placeholder="Effort Level">

                        <label for="summary">Event Summary</label>
                        <textarea name="summary" rows="2" cols="60"></textarea>

                        <label for="details">Event Full Details</label>
                        <textarea name="details" rows="5" cols="60"></textarea>

                        <button type="submit" class="pure-button">Submit</button>
                    </div>

                </div>
            </fieldset>
        </form>
    </div>