

  <div class="pure-g card-container">
    <img src="../img/img_avatar-male.png" alt="">
    <h4 class="pure-u-1 pure-u-md-1-3">Name: {{name}}</h4>
    <p class="pure-u-1 pure-u-md-1-3">Contact: {{contact}}</p>
  </div>

  <div class="content-wrapper">
    <div class="pricing-tables pure-g">
      {{#each opportunity}}
        {{>opportunity/opportunity-block}}
      {{/each}}

    <div class="footer l-box is-center">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam harum ea, tenetur, vero illo error modi alias
      labore doloribus natus quam repudiandae consequuntur ut, eius minima. Explicabo ipsa itaque autem?
    </div>
  </div>

