
    <img src="/img/handsRaised.png" width="80%" height="400px"  class="responsive">


<h2 class="volunOpp">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores voluptatem provident voluptate
    iure delectus fugit, commodi blanditiis ab nobis quasi, in molestiae natus dolor, aliquam qui voluptatibus vero
    nostrum quisquam..</h2>
{{!-- <div>Member Name: <span id="memberName"></span></div> --}}
<div>Events</div>

<div class="content-wrapper">
    <div class="pricing-tables pure-g">
        {{#each Events}}
        {{>volunteer/volunteer-block}}
        {{/each}}
    </div>
</div>