
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


#weLove {
    width: 50%;
    height: 50%;
    align-items: center;
    
}


h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}


.home-menu {
    background: grey;
}

.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}

#offset {
    margin-left: 40px;
  
}

.row {
    float: left;
}



@media (min-width: 48em) {

    body {
        font-size: 16px;
    }

    .home-menu {
        text-align: left;
    }

    .home-menu ul {
        float: right;
    }

    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }

    .l-box-lrg {
        border: none;
    }
}




@media (min-width: 78em) {

    .splash-head {
        font-size: 300%;
    }
}



@media(min-width: 767px) {
    .banner-head {
        font-size: 4em;
    }

    .pricing-table {
        margin-bottom: 0;
    }
}

@media (min-width: 480px) {
    .banner {
        height: 400px;
    }

    .banner-head {
        font-size: 3em;
    }
}

